<div class="jumbotron">
	<h1>Welcome to my app!</h1>
	Click here to <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg"%>

	<!--<h1>Welcome to my App !</h1>
	<!--Regular HTML!-->
	<!--<p>Sing up <a href="http://www.google.com">Here</a>.</p>
	<p>Sing up <%= link_to "here", "#"%>.</p>
	<p>Find me in app/views/pages/home.html.erb</p>
	<h2>Camilo Martinez Mora Projects</h2>!-->
</div>